input.form-control {
  border: 0.25px solid #123cb8 !important;
  border-radius: 30px !important; 
}
select.form-select{
  border: 0.25px solid #123cb8 !important;
  border-radius: 30px !important;
}
textarea{
  border: 0.25px solid #123cb8 !important;
  border-radius: 30px !important;
}
.btn01 {
  border: 2px solid #ff0000 !important; 
  background-color: #e71d1d !important; 
  color: #000 !important;
  width: 200px !important;
  height: auto !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 30px !important; 
  margin: 50px 0px 0px 50px !important;
}

.btn02 {
  border: 2px solid #007bff !important; 
  background-color: #344ac4 !important; 
  color: #000000 !important;
  width: 200px !important;
  height: auto !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
  margin: 50px 50px 0px 0px !important;
}
.container{
  margin-top: 86px !important;
  margin-bottom: 50px !important;
}